body {
    margin: 0;
}

#page {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 960px;
    height:96px;
    background-color: blanchedalmond;
    background-image: url("css3-logo-96px.png");
    background-repeat: no-repeat;
    border: 5px solid blue;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    line-height: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contenu {
    width: 960px;
    position: relative;
}

nav {
    width:320px;
    position: absolute;
    top:0;
    left:0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    display: block;
    width: 240px;
    height: 60px;
    background-color: blanchedalmond;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}

main {
    width:640px;
    position: absolute;
    top:0;
    left:320px;
}

#backtotop {
    position: fixed;
    bottom: 0;
    right:0;
    opacity: 0.5;
}